{{!< layout}}
<div class="aui-group sidebar">
  <div class="surfline-container">
    <!-- WIDGET CONTENTS COPYRIGHT SURFLINE.COM 2016 -->
    <!-- WIDGET VERSION 2.0 MARCH 2016 | THE WASHOUT -->
    <div class="slwd_bt"><script type="text/javascript" src="http://www.surfline.com/widgets2/widget_output_forecast.cfm?id=5293&mdl=1111&layout=&wid=53973&ftr=1"></script><div class="slwd_bx"><a href="http://www.surfline.com" class="slwd_lk">Surfline</a> <a href="http://www.surfline.com/surf-forecasts" class="slwd_lk">Surf Forecasts</a></div><div class="slwd_tl"></div><div class="slwd_tr"></div></div>
    <!-- WIDGET CONTENTS COPYRIGHT SURFLINE.COM 2016 -->
  </div>
  <div class="links-container">
    <p><h4>Links</h4></p>
    <p><a href="http://www.swellinfo.com/surf-forecast/folly-beach-south-carolina">Swellinfo</a></p>
    <p><a href="http://www.oceansurfshop.com/">Ocean Cam</a></p>
    <p><a href="http://www.oceansurfshop.com/report/">Ocean Report</a></p>
</div>
